* {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}

#container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.item {
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
  border: 1px solid black;
  padding: 1.25em;
}
